<% flash.each do |key, value| %>
	<%
		if key != 'success' && key != 'danger' && key != 'notice'
			key = 'danger'
		end
	%>
    <div class="alert-message alert-message-<%= key %>">
      <%= value.html_safe %>
    </div>
<% end %>
